
<% if @connection.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@connection.errors.count, "error") %>
      kept your network from being created:
    </h2>

    <ul>
    <% @connection.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class='form'>
<h1 class='header'>Add Device</h1>
<%= form_with(path: create_device_form_path(@user.id, @network.id), method: :post) do |f| %>

    <div class='field'>
    <%= f.text_field :nickname,  placeholder: "Nick Name" %><br>
    </div>

    <div class=field>
    <%= f.text_field :name,  placeholder: "Name", list: "device_name_autocomplete" %><br>
    <datalist id="device_name_autocomplete">
        <% Device.all.each do |device| %>
            <option value="<%= device.name %>">
        <% end %>
    </datalist>
    </div>

    <div class='field'>
    <%= f.text_field :device_type,  placeholder: "Device Type", list: "device_type_autocomplete" %><br>
    <datalist id="device_type_autocomplete">
        <% Device.all.each do |device| %>
            <option value="<%= device.device_type %>">
        <% end %>
    </datalist>
    </div>

    <div class='button'>
    <%= f.submit "Add" %>
    </div>

<% end %>
</div>