<h1>Add Device</h1>

<%= form_with(path: "networks/#{@network.id}/add_device", method: :post) do |f| %>

    <%= f.label 'Nickname:' %>
    <%= f.text_field :nickname %><br>

    <%= f.label 'Name:' %>
    <%= f.text_field :name, list: "device_name_autocomplete" %><br>
    <datalist id="device_name_autocomplete">
        <% Device.all.each do |device| %>
            <option value="<%= device.name %>">
        <% end %>
    </datalist>

    <%= f.label "Device Type:" %>
    <%= f.text_field :device_type, list: "device_type_autocomplete" %><br>
    <datalist id="device_type_autocomplete">
        <% Device.all.each do |device| %>
            <option value="<%= device.device_type %>">
        <% end %>
    </datalist>


    <%= f.submit "Add Device" %>

<% end %>