<h1><%= @network.name %></h1>


<%= button_to 'Edit Name', edit_user_network_path(@user, @network), method: :get  %>

<%= button_to 'Add Device', new_device_form_path(@user, @network), method: :get %>

<h3>Devices:</h4>

<ul>
    <% @network.connections.each do |c| %>
        <li>
            <h4><%= c.device_nick_name %>
            <p><%= c.device.name %></p>
            <p><%= c.device.device_type %></p>
            <%= button_to "remove device", delete_connection_path(c), method: :delete  %>
        <li>
    <% end %>
</ul>

<%= button_to 'Delete Network', [@user, @network], method: :delete %>