<h1><%= @network.name %></h1>

<form action="/users/<%=@user.id%>/networks/<%= @network.id %>/add_device" accept-charset="UTF-8" method="get">
    <input type="submit" value="Add Device" >
</form>

<h3>Devices:</h4>

<ul>
    <% @network.devices.each do |d| %>
        <% con = d.connections.find_by( network_id: @network.id) %>
        <li>
            <h4><%= con.device_nick_name %>
            <p><%= d.name %></p>
            <p><%= d.device_type %></p>
            <%= button_to "remove device", delete_connection_path(con), method: :delete  %>
        <li>
    <% end %>
</ul>