<div class='form'>
<h1 class='header'>Edit Account</h1>
<%= form_for @user do |f| %>

    <div class='field'>
    <%= f.text_field :name, placeholder: "Name" %><br>
    </div>

    <div class='field'>
    <%= f.text_field :email, placeholder: "Email" %><br>
    </div>

    <div class='field'>
    <%= f.password_field :password, placeholder: "Current Password" %><br>
    </div>

    <div class='field'>
    <%= f.password_field :new_password, placeholder: "New Password" %><br>
    </div>

    <div class='button'>
    <%= f.submit 'Edit' %>
    </div>

<% end %>
</div>