
<div class='form'>
<h1 class='header'>Create an Acount</h1>
<%= form_for @user do |f| %>

    <div class=field>
    <%= f.text_field :name, placeholder: "Name" %><br>
    </div>

    <div class=field>
    <%= f.text_field :email, placeholder: "Email" %><br>
    </div>

    <div class=field>
    <%= f.password_field :password, placeholder: "Password" %><br>
    </div>

    <div class=field>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
    </div>

    <div class='button'>
    <%= f.submit 'Sign Up' %>
    </div>

<% end %>
</div>